@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:ital,wght@0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro&family=Ubuntu:ital,wght@0,300;1,400&display=swap');

*{
    margin:0;
    padding:0;
}
.sidebar{
    background-color: rgb(146, 143, 143);
    
    font-family: 'Roboto', sans-serif;
    height:100vh;
}
.sidebar nav {
    padding:45px;
}
.sidebar nav li{
    list-style: none;
    font-size:30px;
    padding:33px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color:black;
}
.main{
   /* background-color: yellow;*/
    width: 90vw ;

}
.container{
    display: flex;
}
.infocontainer{
   /* background-color: rgb(255, 0, 200);*/
    height:58vh;
    width:80vw;
    margin:144px auto;
    display:flex;
    justify-content: space-around;
}
.devInfo{
    display:flex;
    justify-content:center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}
.hello{
    font-size: 65px;

}
.Name{
    font-size: 50px;
    font-weight:bold;
    font-family: 'Roboto', sans-serif;
}
.about{
    font-size:40px;
}
.moreabout{
    font-size: 22px;
    margin-top: 23px;
    font-family: 'Roboto', sans-serif;
}
.buttons{
    margin-top: 34px;
}

.btn{
    padding:9px 14px;
    border-radius: 22px;
    color:whitesmoke;
    background-color: rgb(10, 123, 123);
    font-weight:bold;
    font-size:21px;
    margin:0 3px;
    cursor:pointer;
}
.btn-sm{
    font-size: 17px;
}
.buttons button:hover{
    background-color:whitesmoke;
    color:rgb(4, 107, 107)
}
.devpic img{
    height:1200px;
    width: 800px;
    justify-content: space-around;
    padding: 40px;
    
}
.pic{
  height:100px;
  width: 240px;
  
  padding: 40px;
  
}
.contactform{
    padding:0 34px;
    padding-top: 144px;
    font-family: 'Roboto', sans-serif;
}
.contactform h1{
    font-family: 'Source Code Pro', monospace;
    text-align:center;
    padding: 12px 0;
}
.contactform form div{
    padding: 20px 0;
    display:flex;
     flex-direction: column;

}
.contactform form div input{
    width: 26vw;
    border-radius: 5px;
    margin:6px 0 0 0;
    padding:3px;

}
#emailHelp{
    font-size: 15px;
     color:rgb(36, 36, 207);
     margin:0 5px;
}
#form-check{
 flex-direction:row;

}
#form-check input{
    width: 24px;
    margin:3px 0;

}
.skills-heading.devpic{
  justify-content:space-around;

}
.skills-bar {
    padding: 25px 30px;
  }
  
  .skills-bar .bar {
    margin: 25px 0;
  }
  
  .skills-bar .bar .info span {
    font-size:80 ;
    font-weight: 500;
    padding: 10px;
  }
  
  .skills-bar .bar .info {
    margin-bottom: 8px;

  }
  .skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 550px;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  .bar .progress-line span {
    position: absolute;
    background: #25b79f;
    height: 100%;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  
  @keyframes animate {
    100% {
      transform: scaleX(1);
    }
  }
  
  .progress-line .html {
    width: 80%;
  }
  .progress-line .css {
    width: 70%;
  }
  .progress-line .bootstrap {
    width: 50%;
  }
  .progress-line .javascript {
    width: 50%;
  }
  .progress-line .c {
    width: 50%;
  }
  
  .bar .progress-line span::before {
    position: absolute;
    content: "";
    height: 0;
    right: 0;
    top: -12px;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-style: #f0f0f0;
    border-top-color: #f0f0f0;
  }
  
  .bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: #07374a;
    font-size: 12px;
    font-weight: 700;
    background: #f0f0f0;
    padding: 1px 8px;
    border-radius: 3px;
  }
  
  .progress-line .html::after {
    content: "80%";
  }
  .progress-line .css::after {
    content: "70%";
  }
  .progress-line .bootstrap::after {
    content: "50%";
  }
  .progress-line .javascript::after {
    content: "50%";
  }
  .progress-line .c::after {
    content: "50%";
  }
  
  .navbar.solid {
    background-color: #07374a;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px rgb(7 55 74 / 20%);
    z-index: 500;
  }
  
  .navbar.solid .navbar-brand {
    display: inline-block;
    color: #f0f0e6;
    transition: color 1s ease 0s;
  }
  
  .navbar-brand {
    display: none;
    color: #f0f0e6;
    font-weight: 400;
  }
  
  .work-arrow {
    margin: 2rem 0;
  }
  
  .work-arrow a {
    font-size: 1rem;
    text-decoration: none;
    color: #25b79f;
  }
  
  .work-arrow-2 {
    margin: 2rem 0;
  }
  
  .work-arrow-2 a {
    font-size: 1rem;
    text-decoration: none;
    color: #25b79f;
    display: none;
  }
  .info-Box{
    font-size: 20px;
    
    font-family: 'Roboto', sans-serif;
    padding: 12px 0;

  }
  .about-text{
    font-size: 20px;
    padding :6px;
    
    font-family: 'Roboto', sans-serif;
  }
  .about h1{
    
    padding: 8px 5px;
  }
  .hamburger{
    position:absolute;
     cursor:pointer;
     top:10px;
     left:10px;
  }
  .cross{
    margin-left:  148px;
  }
  @media (max-width:1615px){
    *{
     /* background-color: rgb(231, 118, 118);*/
    }
    /*.sidebar{
      transform:translate(-443px,0px);
      position: absolute;
    }*/

  }
.card-body{
  font-size: 30px;
  padding: 12px;
}
    